@model IC_Sur.Models.Product


<h1>Editar Producto</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="Productos Enlatados">Productos Enlatados</option>
                    <option value="Productos Congelados">Productos Congelados</option>
                    <option value="Productos Empaquetados">Productos Empaquetados</option>
                    <option value="Productos Venta Por Mayor">Productos Venta Por Mayor</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label"></label>
                <input asp-for="MeasurementUnit" class="form-control" />
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageId" class="control-label"></label>
                <select asp-for="StorageId" class="form-control" asp-items="ViewBag.StorageId"></select>
                <span asp-validation-for="StorageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.ProviderId"></select>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
